@import "tailwindcss";

@font-face {
  font-family: "Fira Code";
  src: url("/fonts/fira-code-v27-latin-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/fonts/jetbrains-mono-v24-latin-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-titles: "Fira Code", sans-serif;
  --font-sans: "JetBrains Mono", monospace;
}

@layer base {
  body {
    @apply font-sans;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-titles; 
  }
}

:root {
  color-scheme: dark;
}